<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="General">
		<setting label="URL address:" type="text" id="url_address" default="http://torrentapi.org/pubapi_v2.php"/>
		<setting type="sep"/>
		<setting label="Username:" type="text" id="username" default=""/>
		<setting label="Password:" type="text" id="password" option="hidden"  enable="!eq(-1,)" default=""/>
		<setting type="sep"/>
		<setting id="pulsar_integration" type="labelenum" label="Pulsar integration method" values="magnet|torrent" />
		<setting label="Magnet works better but requires long timeout in pulsar configuration" type="lsep"/>
		<setting label="Torrent does not seem to work" type="lsep"/>
	</category>
	<category label="Result ranking">
		<setting label="Pulsar ranking algorithm manipulation" type="lsep"/>
		<setting label="Mode" id="ranking_mode" type="enum" values="Disabled|Upgrade|Downgrade" />
		<setting label="Upgrade factor" type="number" id="upgrade_factor" default="100" />
		<setting label="Downgrade factor" type="number" id="downgrade_factor" default="100" />
	</category>
	<category label="Filters">
		<setting label="Maximum Torrents to Send to Pulsar:" type="slider" id="max_magnets" default="10" range="0,1,20" option="int" />
		<setting label="Limitation Size Movie Files" type="lsep"/>
		<setting label="Minimum Size in GB:" type="slider" id="movie_min_size" default="0" range="0,0.25,20" option="float" />
		<setting label="Maximum Size in GB:" type="slider" id="movie_max_size" default="10" range="0,0.25,20" option="float" />
		<setting label="Limitation Size TV Files" type="lsep"/>
		<setting label="Minimum Size in GB:" type="slider" id="TV_min_size" default="0" range="0,0.25,10" option="float" />
		<setting label="Maximum Size in GB:" type="slider" id="TV_max_size" default="10" range="0,0.25,10" option="float" />
	</category>
	<category label="Movie filters">
		<setting id="movie_tag_0" type="labelenum" label="XVID #" values="N/A|14" />
		<setting id="movie_tag_1" type="labelenum" label="XVID/720 #" values="48|N/A" />
		<setting id="movie_tag_2" type="labelenum" label="x264 #" values="N/A|17" />
		<setting id="movie_tag_3" type="labelenum" label="x264/1080 #" values="44|N/A" />
		<setting id="movie_tag_4" type="labelenum" label="x264/720 #" values="45|N/A" />
		<setting id="movie_tag_5" type="labelenum" label="x264/3D #" values="N/A|47" />
		<setting id="movie_tag_6" type="labelenum" label="Full BD #" values="N/A|42" />
		<setting id="movie_tag_7" type="labelenum" label="BD Remux #" values="N/A|46" />
		<setting id="movie_tag_8" type="labelenum" label="XXX #" values="N/A|4" />
	</category>
	<category label="TV filters">
		<setting id="tv_tag_0" type="labelenum" label="TV #" values="N/A|18" />
		<setting id="tv_tag_1" type="labelenum" label="TV HD #" values="41|N/A" />
	</category>	
</settings>